body{
    background-color: #C9CACE;
    
}

#list-container{
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
}

#list-container #bg{
   width: 1000px;
   height: 200px;
   position: absolute;
   top: -30px;
   left: 0;
   z-index: -10000;
}

.header{
    display: flex;
    margin-top: 2%;
}

#logo{
    width: 80px;
    height: 80px;
}
.input-field{
    max-width: 380px;
    width: 100%;
    height: 45px;
    background-color: #E4E4E4;
    margin: 10px 0;
    border-radius: 55px;
    display: flex;
    padding: 0 .4rem;
}

.input-field img{
    width: 20px;
    height: 20px;
    margin-left: 2%;
    margin-top: 3%;
    margin-right: 4%;
}

.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-size: 15px;
    color: #414141;
}

.input-field input::placeholder{
    color: #aaa;
    font-size: 15px;
    font-weight: 400;
}


#miniMenu{
    display: flex;
    margin-right: 5%;
    margin-left: -10%;
    
}

#miniMenu .menu-link{
    color: #235997;
    font-weight: bold;
    font-size: 14px;
}

#miniMenu #logout{
    border-radius: 50px;
    height: 40px;
    background: linear-gradient(90deg, #235997 0%, #5D2397 100%);
    color: #fff;
}

#tittle-empresa{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #4F4F4F;

}

#optionsCompany{
    display: flex;
    background: #ECECEC;
    border-radius: 100px;
    margin-left: -30%;
    margin-top: 3%;
}

#optionsCompany .option{
    color: #696969;
    font-size: 12px;
    font-weight: bold;
}

#optionsCompany .option:hover{
   color: white;
    background: linear-gradient(90deg, #235997 0%, #5D2397 100%);
    border-radius: 100px;
    transition: 0.8s ease-in-out;
    text-decoration: none;
}

#companyList{
    display: flex;
    margin-top: 2%;
}
.companyItem{
    margin-left: -4%;
    display: flex;
    flex-wrap: wrap;
    width: 920px;
}

#companyList .companyItem{
    display: flex;
}

#companyList .companyItem .companyListInfoBtn{
    background-image: none;
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    box-sizing: border-box;
    height: 400px;
}

#companyFav{
    width: 380px;
    height: 400px;
    background-color: #DEDEDE;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    padding: 20px 20px;
    margin-left: 5%;
    
}

#companyFav .headerFav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -4%;
    
}

#companyFav .headerFav .option{
    color: #235997;
}

#companyFav .headerFav h5, #companyFav .headerFav a{
    font-size: 15px;
    color: #4F4F4F;
    font-weight: bold;
}

#companyFav .headerFav h5{
    word-break: normal;
}

.companyFavItem{
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding: 10px;
    margin-left: -5%;
}

.companyFavItem:hover{
    background-color: #d3d3d3;
    border-radius: 20px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.companyFavInfo h5{
    font-weight: bold;
    
}

.companyFavInfo h5, .companyFavInfo p{
    font-size: 15px;
    color: #696969;
}

#logoFav{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin-right: 8%;
}

#logoList{
    width: 230px;
    height: 160px;
    margin-left: 12%;
    margin-top: 5%;
}

.companyListInfoBtn{
    position: relative;
}
.companyListInfoBtn h5{
    font-size: 15px;
}

.companyListInfoBtn p{
    font-size: 12px;
}

.companyListInfoBtn .infoList{
    width: 200px;
    padding: 20px;
    margin-left: 10%;
}

.companyListInfoBtn .companyAval{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin-left: 15%;
    margin-top: 10%;
}

.companyListInfoBtn .companyAval .aval{
    display: flex;
    justify-content: space-evenly;
    
}

#likes a{
    margin-left: -50%;
    margin-right: -40%;
    margin-top: -5%;  
}

#likes p{
    color: #414141;
    font-size: 13px;
    font-family: sans-serif;
    margin-top: -4%;  
}

#comments, #likes, #openDetail{
    cursor: pointer;
    text-decoration: none;
}
#comments img{
    width: 17px;
    height: 17px;
    margin-left: -50%;
    margin-right: -40%;  
}

#comments p{
    color: #414141;
    
}

#openDetail{
    color: #235997;
    font-weight: bold;
    font-size: 0.8rem;
    margin-left: 8%;
}